# Python Virtual Environment
myenv/
venv/
env/
.venv/

# Node Modules
node_modules/

# ML Models
*.bin
*.pt
*.pth
*.safetensors
legalbert_model/
ml_models/

# Uploads
uploads/
generated_reports/
temp/


# PDFs
*.pdf

# Cache
__pycache__/
.cache/
.ipynb_checkpoints/

# Logs
*.log

# ChromaDB
chroma_data/

# Environment Variables
.env

# Build
dist/
build/