# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
.venv
venv
myenv

# Environment Variables
.env

# Models & Datasets
datasets/
models/
legalbert_model/
legalbert model/

# Generated Data
uploads/
chroma_data/
reports/

# Notebook
.ipynb_checkpoints/

# Git
.git/
.gitignore

# Frontend
node_modules/
dist/
build/

# Docker
Dockerfile
docker-compose.yml
.dockerignore